process {
    errorStrategy = { task.exitStatus in [140, 143, 137, 104, 134, 139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    withLabel: process_high_memory {
        memory = { 384.GB * task.attempt }
        cpus   = 24
        time   = { 3.d  * task.attempt }
    }
    withLabel: process_high {
        memory = { 128.GB * task.attempt }
        cpus   = 48
        time   = { 3.d * task.attempt }
    }
    withLabel: process_medium {
        memory = { 96.GB  * task.attempt }
        cpus   = 24
        time   = { 2.d  * task.attempt }
    }
    withLabel: process_low {
        memory = { 16.GB  * task.attempt }
        cpus   = 2
        time   = { 2.h }
    }
    withLabel: process_short {
        memory = { 8.GB  * task.attempt }
        cpus   = 2
        time   = { 2.h  }
    }
    withLabel: process_tree {
        // Long iqtree/raxml runs
        memory = { 48.GB  * task.attempt }
        cpus   = 12
        time   = { 2.d * task.attempt }
    }
}
